<h1>Warning</h1>
<p>When you click the link below, you will be taken the the onboarding page and your QR Code will be displayed.</p>
<p>Do not refresh that page: this is the only time it will be displayed!</p>
<a href='{{Link}}'>To the onboarding page</a>

